@model List<string>

<div class="row">
    @foreach (var item in Model)
    {   
    <div class="col-12">
        <div class="card ">
            <img onclick="btnReproducirVideo('@item')" src="http://img.youtube.com/vi/@item/mqdefault.jpg" alt="@item">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a class="btn btn-danger text-white" onclick="RemoveFromPlayList('@item')">Delete</a>
            </div>
        </div>
    </div>
    }
</div>

