@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-8">
            <div id="VideoPlay"></div>
        </div>
        <div class="col-4" style="overflow-y:scroll; height:300px;">
            <div id="PlayList"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div id="ListYoutube"></div>
        <h4>PlayList: to play a video just click on image</h4>
    </div>
</div>

<script>
    function btnSearch() {
        $.ajax({
            url: '@Url.Action("SearchVideo")?Keyword=' + $('#txtsearch').val(),
            type: "GET",
            success: function (result) {
                $('#ListYoutube').html(result);
            }
        });
    }

    function btnadd(Id) {
        console.log(Id);
       $.ajax({
           url: '@Url.Action("AddPlayList")?idVideo=' + Id,
           type: "GET",
           success: function (result) {
               $('#PlayList').html(result);
           }
        });
    }

    function btnReproducirVideo(Id) {
        console.log(Id);
        $.ajax({
            url: '@Url.Action("reproduceVideo")?idVideo=' + Id,
            type: "GET",
            success: function (result) {
                console.log(result);
                $('#VideoPlay').html(result);
            }
        });
    }

    function RemoveFromPlayList(videoID) {
        $.ajax({
            url: '@Url.Action("RemoveFromPlayList")?videoId=' + videoID,
            type: "GET",
            success: function (result) {
                console.log(result);
                $('#PlayList').html(result);
            }
        });
    }
</script>
