@{
    ViewBag.Title = "Home Page";
}
<style type="text/css">
    .personalizado{
        text-decoration: none;
        padding: 3px;
        padding-left: 10px;
        padding-right: 10px;
        font-family: helvetica;
        font-weight: 300;
        font-size: 25px;
        font-style: italic;
        color: #006505;
        background-color: #82b085;
        border-radius: 15px;
        border: 3px double #006505;
    }

        .boton_1:hover {
            opacity: 0.6;
            text-decoration: none;
        }
</style>
<style>
    #ListYoutube {
        grid-area: ListYoutube;
        height: 300px;
        overflow-y: scroll;
    }

    #VideoPlay {
        grid-area: VideoPlay;
        height: 500;
    }

    #PlayList {
        grid-area: PlayList;
        height: 600;
        overflow-x: scroll;
    }
</style>
<body style="background-color:black">
    <br />
    <input type="text" class="form-control" id="txtsearch" placeholder="Buscar" />
    <br />
    <a class="personalizado" href="javascript:void(0)" onclick="btnSearch()">Buscar &raquo;</a>
    <br />
    <br />
    <div id="VideoPlay">


    </div><div style="color:darkgray" align="right" class="container" id="ListYoutube">

    </div>
    <p style="color:darkgray">PlayList: to play a video just click on image</p>
    <div style="overflow-x:scroll;">
        <table class=" table table-striped table-bordered table-hover">
            <tr id="PlayList"></tr>
        </table>
    </div>
</body>
<script>
    function btnSearch() {
        $.ajax({
            url: '@Url.Action("SearchVideo")?Keyword=' + $('#txtsearch').val(),
            type: "GET",
            success: function (result) {
                $('#ListYoutube').html(result);
            }
        });
    }

    function btnadd(Id) {
        console.log(Id);
       $.ajax({
           url: '@Url.Action("AddPlayList")?idVideo=' + Id,
           type: "GET",
           success: function (result) {
               $('#PlayList').html(result);
           }
        });
    }

    function btnReproducirVideo(Id) {
        console.log(Id);
        $.ajax({
            url: '@Url.Action("reproduceVideo")?idVideo=' + Id,
            type: "GET",
            success: function (result) {
                console.log(result);
                $('#VideoPlay').html(result);
            }
        });
    }
</script>
